@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap");

@media only screen and (max-width: 600px) {
  .all {
    flex-direction: column;
  }
  .cart{
    width: 100%;
  }
}

@media only screen and (min-width: 600px) {
  body {
    background-color: #f5edeb;
  }
  .all {
    flex-direction: column;
  }
  .cart{
    width: 60%;
  }
}

@media only screen and (min-width: 1200px) {
  body {
    background-color: #f5edeb;
  }
  .all {
    flex-direction: row;
  }
  .cart{
    width:  auto;}
}
body{
  font-family: "Red Hat Text" ;
}
.addtocart {
  border-radius: 10px;
  margin: 0 auto;
  transform: translate(0%, -50%);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  width: 65%;
  height: 50px;
}
.addtocartorange {
  border-radius: 10px;
  transform: translate(0%, -50%);
  margin: 0 auto;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c73a0f;
  width: 65%;
  height: 50px;
  gap: 35px;
}
.addtocarttext {
  color: #260f08;
  font-size: 15px;
}
.cart {
  /* width: 91%; */
  background-color: white;
  color: #c73b0f;
  border-radius: 0px;
  flex-grow: 1;
}
.carttext {
  font-size: 30px;
  margin-left: 25px;
  padding-top: 25px;
  color: #cf481e;
}
.category {
  margin-bottom: 0px;
  font-size: 20px;
  margin-top: 0px;
}
.name {
  font-size: 30px;
  margin-top: 10px;
}
.decrease {
  border-radius: 70%;
  background-color: #c73b0f;
  width: 50px;
  height: 30px;
}
.increase {
  width: 50px;
  height: 30px;
  border-radius: 70%;
  background-color: #c73b0f;
}
.buttondecrease {
  color: red;
}
.addtocart:hover {
  border: 2px solid #c73b0f;
  .addtocarttext {
    color: #c73a0f;
  }
  .AddToCart {
    fill: #c73b0f;
    stroke: #c73b0f;
  }
  transition: 0.2s;
}
.quantityh3 {
  font-size: 25px;
  color: black;
}
.decrease:hover,
.increase:hover {
  background-color: white;
  transition: 0.3s;
  .DecrementQuantity,
  .IncrementQuantity {
    fill: #c73a0f;
    stroke: #c73a0f;
  }
}
.AddToCart {
  fill: rgba(0, 0, 0, 0.459);
  stroke: rgba(0, 0, 0, 0.596);
}
.DecrementQuantity,
.IncrementQuantity {
  fill: white;
  stroke: white;
}
.cart {
  border-radius: 20px;
  /* width: 400px; */
  margin-top: 60px;
  margin-right: 10px;
}
.confirm-order {
  width: 200px;
  height: 50px;
  border-radius: 30px;
  background-color: #c73a0f;
  margin-left: 20px;
}
.confirm-order:hover {
  background-color: #af320c;
  transition: 0.3s;
}
.carbonneutral {
  width: 300px;
  height: 50px;
  background-color: rgb(197, 197, 197);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: black;
  margin-left: 20px;
}
.picture {
  border-radius: 30px;
}
.message {
  color: rgb(95, 94, 94);
}
.details {
  color: black;
}
.details3 {
  color: rgb(49, 49, 49);
}
.details2 {
  color: rgb(143, 143, 143);
}
.order-line {
  display: flex;
  justify-content: space-between;
  gap: 2px;
}

.details1,
.details2,
.details3 {
  flex: 1;
  text-align: left;
}
.total {
  color: #3b3b3b;
  margin-left: 30px;
}
.total1 {
  color: black;
}
.category {
  color: gray;
}
.price {
  color: #af320c;
  font-size: 20px;
}
.products {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 800px;
  flex-direction: column;
  gap: 30px;
}
.empty-cart-message {
  width: max-content;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.all {
  margin-left: 100px;
  gap: 50px;
  max-width: 1200px;
}
.remove {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid red;
  margin-left: 10px;
  margin-right: 5px
}

.all {
  display: flex;
  align-items: start;
  margin: 0 auto;
  justify-content: space-between;
}

.products {
  flex-grow: 1;
}
.new {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  flex-grow: 1;
  width: 100%;
  flex-wrap: wrap;
  gap: 15px;
}
.h1 {
  margin-bottom: 0px;
}
.spaced-line{
  display: flex;
  justify-content: space-between;
  gap: 10px;
}